@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark: #000000;
    --deepDark: #121212;
    --purple: #522b79;
    --borderColor: #2d1843;
    --primaryPurple: #9a236f;
    --violet: #3e205b;
  }
}

/* .gradient {
  background-image: linear-gradient(to right, #09e5e5 0%, #8efa6d 100%);
  --background-clip: text;
  --webkit-text-fill-color: transparent;
} */
